<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project362.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00F7D94F2038C31400D4CE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F7D9632038C31400D4CE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F7D96E2038C31400D4CE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
